
.ipynb_checkpoints/TxDOT TCDS Scraping Compiling-checkpoint.ipynb
historical_aadt_15H193.csv
StarsII Scraping Test.ipynb
historical_aadt_43H3.csv
historical_aadt_31H228.csv
TxDOT TCDS Scraping Compiling.ipynb
.csv
scraping
chromedriver*
*claude*
*.ipynb
*.csv
*.txt
**/C4A/